/*
Red Lantern redesign
HFWD Chapter 1
*/

/*
The font size here is set to 62.5% so that
1em = 10px. This makes adjusting our typography
a little easier
*/
body {
	margin: 0 auto;
	width: 99%;
	padding: 0;
	background: #ffffff top;
	font-family: Microsoft JhengHei,Helvetica, sans-serif;
	font-size: 62.5%;
	color: #333;
}

h1, h2, h3, h4, p, ul, li {
	margin: 0;
	padding: 0;
}

#menu{
	background: #2b2b2b;
	text-align: center;
	margin: 10px 0 0 0;
	padding:1px;
	height: 30px;
}

#menu li{
	display: inline;
	
	margin: 0 0 0 150px;
	font-size: 150%;
}

#menu li a{
	color: #fff;
	text-decoration: none;
	background: none;
}

ul{
	background: rgb(49, 49, 49)
}

p {
	font-size: 1.4em;
	line-height: 1.4em;
}

ul {
	list-style-type:none;
}

a:link {
	color: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0);
}
a:visited {
	color: #000000;
	background: #eee;
}

/* This rule adds a nice style to our ampersands */
span.amp {
	font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
	font-weight: normal;
	font-style: italic;
}

#masthead {
	margin: 0 auto ;
	margin-top: 20px;
	width: 800px;
	color: #fff;
}

#masthead h1 {
	float: left;
}

#nav {
	float: right;
	margin: 50px 10px 0 0;
	font-size: 1.4em;
}

 
#nav li {
	display: inline;
	margin: 0 0 0 20px;
}

#nav li a {
	color: #fff;
	text-decoration: none;
	background: none;
}

/*
Because the header content is outside the wrap <div>,
we need to use the same "margin: 0 auto" trick to center
the layout
*/
#wrap {
	clear: both;
	margin: 0 auto;
	padding: 100px;
	width: 780px;
	background: #fff;
	border: 10px solid #5c0505;
}

#header{
	background: url('../images/title_bg.jpg');
}

#header h1 {
	font-size: 3em;
	margin: 0 0 0 0;
	padding: 10px;
	text-align: left;
}

#black{
	font-size: 1.5em;
	margin: 0 0 0 0;
	padding: 10px;
	text-align: left;
	color: #000000;
}

#white{
	font-size: 1.5em;
	margin: 0 0 0 0;
	padding: 10px;
	text-align: left;
	color: #ffffff;
}

#metamorph{
	color: #fff;
}

#header h1,h2{
	margin: 0 0 0 0;
	padding: 10px;
}

#content, #sidebar {
	width: 240px;
	margin: 20px 0 20px 0;
	padding: 10px;
}

#content {
	width: 75%;
	float: right;
}

#content h1,h2 {
	background: none;
}

#content h1 {
	font-size: 4em;
	margin: 0 0 10px 0;
}

#content h2 {
	font-size: 2.4em;
	margin: 0 0 10px 0;
}

#content p {
	margin: 0 0 10px 0;
}

#link-list {
	margin: 20px 0 0 0;
	font-size: 1.4em;
}

#link-list li {
	margin: 0 0 10px 0;
}

#sidebar {
	width: 20%;
	float: left;
	margin: 0 10px 0 0;
}

#sidebar h2 {
	font-weight: bold;
	color: #fff;
	background: rgb(87, 87, 87);
	border-bottom: 1px solid rgb(87, 87, 87);
	margin: 0 0 20px 0;
	padding: 5px;
}

#sidebar h3{
	font-weight: bold;
	font-size: small;
}

#CNtext{
	margin: 20px 0 0 0;
}

#port li {
	margin: 0 10px 20px 0;
	float: left;
	border: 5px solid #ddd;
}

#footer {
	clear: both;
	background: rgb(92, 92, 92);
	padding: 10px;
	border-top: 2px solid #ddd;
	text-align: center;
	color: rgb(233, 233, 233);
}